
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490084313751'); /* IE9*/
  src: url('iconfont.eot?t=1490084313751#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490084313751') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490084313751') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490084313751#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-import:before { content: "\e601"; }

.icon-refresh:before { content: "\e611"; }

.icon-wxopen:before { content: "\e61c"; }

.icon-client:before { content: "\e605"; }

.icon-qrcode:before { content: "\e60f"; }

.icon-delete:before { content: "\e604"; }

.icon-system:before { content: "\e608"; }

.icon-search:before { content: "\e603"; }

.icon-export:before { content: "\e602"; }

.icon-tip:before { content: "\e61f"; }

.icon-qqpay:before { content: "\e60b"; }

.icon-alipay:before { content: "\e60c"; }

.icon-refund:before { content: "\e615"; }

.icon-confirm:before { content: "\e619"; }

.icon-wxmp:before { content: "\e60d"; }

.icon-merchant:before { content: "\e609"; }

.icon-stat:before { content: "\e60e"; }

.icon-commission:before { content: "\e616"; }

.icon-remit:before { content: "\e617"; }

.icon-aliopen:before { content: "\e61d"; }

.icon-cancel:before { content: "\e607"; }

.icon-relation:before { content: "\e612"; }

.icon-market:before { content: "\e60a"; }

.icon-wxcard:before { content: "\e61a"; }

.icon-add:before { content: "\e600"; }

.icon-saves:before { content: "\e606"; }

.icon-settlement:before { content: "\e618"; }

.icon-wxpay:before { content: "\e610"; }

.icon-gps:before { content: "\e613"; }

.icon-audit:before { content: "\e614"; }

.icon-icbc:before { content: "\e61b"; }

.icon-label:before { content: "\e64f"; }

.icon-union:before { content: "\e6dd"; }

.icon-offlineticket:before { content: "\e698"; }

.icon-billfail:before { content: "\e6bb"; }

.icon-auth:before { content: "\e61e"; }

.icon-yipay:before { content: "\e620"; }

