<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.sss} [%5p][%t][%c{1}]-[%M] %m%n" />
		</layout>
	</appender>

	<appender name="logFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/log/carTravelskty.log" /> 
		<!-- <param name="File" value="/log/wechat.log" /> -->
		<param name="ImmediateFlush" value="true" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="50MB" />
		<param name="MaxBackupIndex" value="9999" />
		<param name="Threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss.sss} [%5p][%t][%c{1}]-[%M] %m%n" />
		</layout>
	</appender>

	<logger name="com.beidouapp.business" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="logFile" />
	</logger>

	<logger name="com.beidouapp.et" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="logFile" />
	</logger>

	<logger name="java.sql" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="logFile" />
	</logger>

	<logger name="org.apache.ibatis" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="logFile" />
	</logger>

	<root>
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="logFile" />
	</root>

</log4j:configuration>





